pom.xml
*jar
log
/lib/
/classes/
/targets/
.lein-deps-sum
.nrepl-port
target/repl-port
target/stale/extract-native.dependencies
/repl
.repl
.#*
*#
*~
*.jar
*.class
.lein-failures
.lein-plugins
.lein-repl-history


out/
doc/
resources/public/cropped-images/
resources/public/css/style.css
resources/public/js/visibe_dbg.js
resources/public/js/visibe_pre.js
resources/public/js/visibe.js
target/
