@import "bootstrap.css";
@import "fonts.css";

@import "mixins";

@import "style.css";
@import "video-js.css";


* {
	font-family: 'Skolar';
}

body {
	background: #286d99;
	color: white;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	line-height: 1.2;
	
	.container {
		padding: 0;
	}

	#title {
		margin: 90px 0 50px 0;

		h1 {
			font-size: 48px;
			font-family: 'Gotham-Black';
			text-transform: uppercase;
			margin: 0 0 36px 0;
			-webkit-font-smoothing: subpixel-antialiased;
		}
		p.description {
			font-size: 28px;
			width: 310px;
			margin: 0 auto;
		}
	}

	.trends-container {
		max-width: 920px;
		padding: 0 20px;
	}

	#trends {
		list-style: none;
		margin-left: -20px;
		padding: 0;
		text-align: center;
	}

	.trend-card {
		width: 280px;
		margin: 0 0 20px 20px;
		display: inline-block;

		a {
			float: left;
			width: 280px;
			height: 204px;
			position: relative;
			border-radius: 10px;
			overflow: hidden;
			border-bottom: 4px solid #2B5F85;
			#gradient > .vertical(saturate(#1e5b85, 7%), 10%, saturate(#397dac, 7%));
			.transition(all ease-out 0.1s);
			.scale(1);

			&:hover {
				.scale(1.03);
				#gradient > .vertical(saturate(#1e5b85, 10%), 10%, saturate(#397dac, 10%));
				border-bottom: 4px solid darken(#2B5F85, 3%);

				span {
					opacity: 0.2;
				}
			}

			div.name-container {
				width: 280px;
				height: 200px;
				display: table;

				h2 {
					vertical-align: middle;
					display: table-cell;
					position: relative;
					z-index: 20;
					font-family: 'Gotham Bold';
					font-size: 28px;
					padding: 0 15px;
				}
			}

			span {
				position: absolute;	
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
				z-index: 10;
				background-size: cover !important;
				background-position: 50% 50% !important;
				opacity: 0.13;
				border-radius: 10px;
				overflow: hidden;
				.transition(all ease-out 0.1s);

				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
				filter: gray; /* IE6-9 */
				-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
			}
		}
	}	
}
